<h1>All providers</h1>
<% if @providers.empty? %>
  <p>No providers to show yet</p>
<% else %>
  <% @providers.each do |provider| %>
    <p>Name: <%= link_to provider.name, provider %></p>
    <p>Translated name: <%= provider.translated_name %></p>
    <p>Description: <%= provider.description %></p>
    <p>Tags: <% provider.provider_tags.each do |t| %>
        <%= t.tag.name %>
      <% end %>
    </p>
    <p>Categories: <% provider.provider_categories.each do |c| %>
        <%= c.category.name %>
      <% end %>
    </p>
    <p>Rating: <%= provider.avg_rating %></p>
    <p>Price: <%= provider.price %></p>
    <p>Address: <%= provider.street_address %></p>
    <p>District: <%= provider.district %></p>
    <p>City: <%= provider.city %></p>
    <p>Country: <%= provider.country %></p>
    <p>Hours: <%= provider.open_hours %></p>
    <p>Phone: <%= provider.phone_number %></p>
    <p>Website: <%= provider.website %></p>
    <p><%= link_to "Review provider", new_provider_review_path(provider) %></p>
    <% if current_user.favourited_providers.include?(provider) %>
      <p><%= link_to 'Unfavourite this provider', favourite_path(provider), method: :delete %></p>
    <% else %>
      <p><%= link_to 'Favourite this provider', provider_favourites_path(provider), method: :post %></p>
    <% end %>
    <p>Photos: </p>
    <div class="photos row">
      <% provider.photos.each do |photo| %>
        <%= cl_image_tag(photo.photo, width: 300, height: 300, crop: :fill) %>
      <% end %>
    </div>
    <p>---------------------------------------------</p>
  <% end %>
<% end %>
