 <div class="row">
  <%= render "components/image_carousel", provider: @provider %>
</div>

<h2><%= @provider.name %></h2>
<% if @provider.translated_name != nil %>
<p>Translated name: <%= @provider.translated_name %></p>
<% end %>
<p><%= @provider.description %></p>

<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Reviews</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Details</a>
  </li>

</ul>
<div class="tab-content" id="pills-tabContent">
  <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">

<h2>Reviews for this provider</h2>
<p>--------------------------</p>
<% @provider.reviews.each do |review| %>
  <%= render "components/review_card_small", review: review %>
<% end %>
<%= link_to "Add a review", new_provider_review_path(@provider) %>
<% if current_user.favourited_providers.include?(@provider) %>
  <p><%= link_to 'Unfavourite this provider', favourite_path(@provider), method: :delete %></p>
<% else %>
  <p><%= link_to 'Favourite this provider', provider_favourites_path(@provider), method: :post %></p>
<% end %>
<p>--------------------------</p>
<%= link_to "back", providers_path %>

  </div>
  <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
    <div class="container">





      <div class ="price-container d-flex">
      <div class="price-title w-25">Price</div>
      <div class="price-info w-75"><%= @provider.price %></div>
      </div>

      <div class ="tags-container d-flex">
      <div class="tags-title w-25">Good for</div>
        <div class="tags-info w-75">
          <p>
          <% @provider.provider_tags.each do |tag| %>
            <%= tag.tag.name %>
          <% end %>

          </p>
        </div>
      </div>


<div class ="phone-container d-flex">
      <div class="phone-title w-25">Phone</div>
      <div class="phone-info w-75"><%= @provider.phone_number %></div>
      </div>

       <div class ="address-container d-flex">
      <div class="address-title w-25">Address</div>
      <div class="address-info w-75"><%= @provider.street_address %></div>
      </div>
    </div>
<div
  id="map"
  style="width: 100%;
  height: 300px;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
></div>

  </div>




  </div>
</div>




