  <% if review.review_photos.first != nil %>
        <% if review.review_photos.first.photo_url.resource_type == "video" %>
          <%= link_to review_path(review) do %>
            <div class="review-card-small video-card d-flex flex-column align-items-start">
              <div class="video">
                <%= cl_video_tag(review.review_photos.first.photo_url.file.public_id,
                :loop => true, :controls => true, :autoplay => true,
                :transformation => [width: 210, height: 235, crop: :fill],
                :fallback_content => "Your browser does not support HTML5 video tags." ) %>
              </div>
              <div class="username-div mb-auto p-2">
                <%= review.user.username %>
              </div>
            </div>
          <% end %>
      <% else %>
        <%= link_to review_path(review) do %>
        <div class="review-card-small image-card d-flex flex-column align-items-start" style="background-image: linear-gradient(rgba(0,0,0,0.22), rgba(0,0,0,0.22)), url('<%= cl_image_path review.review_photos.first.photo_url, height: 235, width: 210, crop: :fill %>')">
          <div class="username-div mb-auto p-2">
            <%= review.user.username %>
          </div>
          <div class="content p-2 mb-2">
            <%= review.content %>...
          </div>
        </div>
        <% end %>
    <% end %>

  <% elsif review.id.odd? %>
    <%= link_to review_path(review) do %>
      <div class="review-card-small purple-card flex-column align-items-start">
        <div class="username-div mb-auto p-2">
          <%= review.user.username %>
        </div>
        <div class="content p-2">
          <%= review.content %>...
        </div>
      </div>
    <% end %>

  <% else %>
    <%= link_to review_path(review) do %>
       <div class="review-card-small yellow-card flex-column align-items-start">
        <div class="username-div mb-auto p-2">
         <%= review.user.username %>
        </div>
        <div class="content p-2">
          <%= review.content %>...
        </div>
      </div>
    <% end %>
  <% end %>

