<!— Write content for the title —>
<% content_for(:title) do %>
  <%= @user.first_name %> - Profile
<% end %>

<div class="profile d-flex flex-column w-100">
  <div class="row pt-3 pl-3">
    <div class="media">
      <% if @user.avatar.filename.nil? %>
        <%= image_tag("avatar-default.png", class: "avatar-large align-self-center ml-3 mb-3 mr-3", crop: :fill) %>
      <% else %>
        <%= cl_image_tag(@user.avatar, class: "avatar-large align-self-center ml-3 mb-3 mr-3") %>
      <% end %>
      <div class="media-body">
        <h5 class="mt-0 mb-0"><%= @user.first_name %> <%= @user.last_name %></h5>
        <p class="profile-desc mr-2"><%= @user.description %></p>
        <% if current_user == @user %>
          <p><%= @user.email%></p>
        <% end %>
        <ul class="list-inline">
            <li class="list-inline-item"><%= link_to "Edit profile", edit_user_path(@user) %></li>
            <li class="list-inline-item"><%= link_to "Change password", edit_user_registration_path %></li>
            <li class="list-inline-item"><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
          </ul>
      </div>
    </div>
  </div>
  <div class="row border-top">
    <% if @reviews.nil? %>
          <p>You don't have any reviews yet.</p>
        <% else %>
          <% @reviews.each do |review| %>
            <div class="review ml-2">
              <%= render "components/review_card_small", review: review %>
            </div>
          <% end %>
        <% end %>
  </div>
</div>






