<!— Write content for the title —>
<% content_for(:title) do %>
  <%= @user.first_name %> - Profile
<% end %>

<div class="profile d-flex w-100 border-bottom mt-5 pb-3">
    <div class="media">
      <% if @user.avatar.filename.nil? %>
        <%= image_tag("avatar-default.png", class: "avatar-large align-self-center ml-3 mb-3 mr-3", crop: :fill) %>
      <% else %>
        <%= cl_image_tag(@user.avatar, class: "avatar-large align-self-center ml-3 mb-3 mr-3") %>
      <% end %>
    </div>

    <div class="media-body d-flex flex-column">
     <div class="profile-first-line d-flex justify-content-between">
        <h5 class="mt-0 mb-0"><%= @user.first_name %> <%= @user.last_name %></h5>
        <div class="dropdown">
          <button class="btn btn-dropdown dropdown-toggle m-0 p-0 pr-4" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <%= link_to "Edit profile", edit_user_path(@user), class: "dropdown-item"%>
            <%= link_to "Change password", edit_user_registration_path, class: "dropdown-item"%>
            <%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </div>
      </div>
      <% if current_user == @user %>
        <small class="text-muted"><%= @user.email%></small>
      <% end %>
      <small class="profile-desc mr-2 mt-3 pr-2 align-self-end"><%= @user.description %></small>
    </div>

</div>

<% if @reviews.nil? %>
      <p>You don't have any reviews yet.</p>
<% else %>
  <div class="row mw-100 p-0 m-0">
    <% @reviews.each do |review| %>
      <div class="review-card col-6 mw-50 p-0 m-0">
         <%= render "components/review_card_small", review: review %>
      </div>
    <% end %>
  </div>
<% end %>

<br>
<%= render "shared/nav" %>
