<h1>Hi <%= @user.first_name %>!</h1>
<p><%= cl_image_tag(@user.avatar, width: 100, height: 100, crop: :fill) %></p>
<p>First name: <%= @user.first_name %></p>
<p>Last name: <%= @user.last_name %></p>
<p>Email: <%= @user.email%></p>
<p><%= link_to "Edit profile", edit_user_path(@user) %></p>
<p><%= link_to "Change password", edit_user_registration_path %></p>
<h2>My Reviews</h2>
<% if @reviews.nil? %>
  <p>You don't have any reviews yet.</p>
<% else %>
  <% @reviews.each do |review| %>
    <%= render "shared/review", review: review %>
  <% end %>
<% end %>
<h2>My Favourites</h2>
  <% current_user.favourites.each do |fav| %>
     <div class="border-bottom">
       <p><%= fav.provider.name %></p>
      <%= link_to 'Delete this favourite', favourite_path(fav), method: :delete %>
     </div>
  <% end %>
