<div class="profile d-flex flex-column w-100">
  <div class="row pt-3 pl-3">
    <div class="col">
      <h1>Hi <%= @user.first_name %>!</h1>
    </div>
  </div>
  <div class="row pt-3 pl-3">
    <div class="media">
      <% if @user.avatar.filename.nil? %>
        <%= image_tag("avatar-default.png", class: "avatar-large align-self-center ml-3 mb-3 mr-3", crop: :fill) %>
      <% else %>
        <%= cl_image_tag(@user.avatar, class: "avatar-large align-self-center ml-3 mb-3 mr-3") %>
      <% end %>
      <div class="media-body">
        <h5 class="mt-0 mb-0"><%= @user.first_name %> <%= @user.last_name %></h5>
        <p><%= @user.email%></p>
        <ul class="list-inline">
            <li class="list-inline-item"><%= link_to "Edit profile", edit_user_path(@user) %></li>
            <li class="list-inline-item"><%= link_to "Change password", edit_user_registration_path %></li>
          </ul>
      </div>
    </div>
  </div>
  <div class="row d-flex flex-column">
    <nav>
      <div class="nav nav-tabs justify-content-center" id="nav-tab" role="tablist">
        <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">My Reviews</a>
        <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">My Favourites</a>
      </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
      <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
        <% if @reviews.nil? %>
          <p>You don't have any reviews yet.</p>
        <% else %>
          <% @reviews.each do |review| %>
            <div class="review ml-3">
              <%= render "components/review_card_small", review: review %>
            </div>
          <% end %>
        <% end %>
      </div>
      <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
        <% current_user.favourites.each do |fav| %>
           <div class="border-bottom">
             <p><%= fav.provider.name %></p>
            <%= link_to 'Delete this favourite', favourite_path(fav), method: :delete %>
           </div>
        <% end %>
      </div>
    </div>
  </div>
</div>






