<h1>Hi <%= @user.first_name %>!</h1>
<% if @user.avatar.filename.nil? %>
  <p><%= image_tag "avatar-default.png", width: 100, height: 100, crop: :fill %></p>
<% else %>
  <p><%= cl_image_tag(@user.avatar, width: 100, height: 100, crop: :fill) %></p>
<% end %>
<p>First name: <%= @user.first_name %></p>
<p>Last name: <%= @user.last_name %></p>
<p>Email: <%= @user.email%></p>
<p><%= link_to "Edit profile", edit_user_path(@user) %></p>
<p><%= link_to "Change password", edit_user_registration_path %></p>
<h2>My Reviews</h2>
<% if @reviews.nil? %>
  <p>You don't have any reviews yet.</p>
<% else %>
  <% @reviews.each do |review| %>
    <%= render "shared/review", review: review %>
  <% end %>
<% end %>
<h2>My Favourites</h2>
