<div class="nav-bar fixed-bottom w-100">
  <ul class="list-inline d-flex justify-content-around">
    <li class="list-inline-item text-center">
      <%= link_to root_path do %>
        <% if current_page?('/') %>
          <i class="far fa-compass icon nav-icon active-page"></i>
          <p class="active-page">Home</p>
        <% else %>
          <i class="far fa-compass icon nav-icon"></i>
          <p>Home</p>
        <% end %>
      <% end %>
    </li>
    <li class="list-inline-item text-center ">
      <%= link_to nearby_path do %>
        <% if current_page?('/nearby') %>
          <i class="fas fa-map-marker-alt icon nav-icon active-page"></i>
          <p class="active-page">Nearby</p>
        <% else %>
          <i class="fas fa-map-marker-alt icon nav-icon"></i>
          <p>Nearby</p>
        <% end %>
      <% end %>
    </li>
    <% if user_signed_in? %>
        <li class="list-inline-item text-center">
          <i id="ja" class="user_signed_in fas fa-plus-circle icon nav-icon"></i>
          <p id="ja">Add Moments</p>
      </li>

    <% else %>
      <%= link_to new_user_session_path do %>
        <li class="list-inline-item text-center">
          <i id="ja" class="fas fa-plus-circle icon nav-icon"></i>
        <p id="ja">Add Post</p>
    </li>
      <% end %>
    <% end %>

    <li class="list-inline-item text-center ">
      <%= link_to activity_path do %>
        <% if current_page?('/activity') %>
          <i class="far fa-heart icon nav-icon active-page"></i>
          <p class="active-page">Activity</p>
        <% else %>
          <i class="far fa-heart icon nav-icon"></i>
          <p>Activity</p>
        <% end %>
      <% end %>
    </li>
    <li class="list-inline-item text-center ">
      <% if current_user.nil? %>
        <%= link_to  new_user_session_path do %>
          <i class="far fa-user icon nav-icon"></i>
          <p>Me</p>
      <% end %>
      <% elsif current_page?('/profile')%>
        <%= link_to user_path(current_user) do %>
            <i class="far fa-user icon nav-icon active-page"></i>
            <p class="active-page">Me</p>
        <% end %>
      <% else %>
       <%= link_to user_path(current_user) do %>
            <i class="far fa-user icon nav-icon"></i>
            <p>Me</p>
        <% end %>
      <% end %>
    </li>
  </ul>
</div>
