<div class="nav-bar fixed-bottom">
  <ul class="list-inline d-flex justify-content-around">
    <li class="list-inline-item text-center nav-buttons active">
      <%= link_to root_path do %>
      <i class="far fa-compass icon nav-icon"></i>
      <p>Home</p>
      <% end %>
    </li>
    <li class="list-inline-item text-center nav-buttons">
      <%= link_to nearby_path do %>
        <i class="fas fa-map-marker-alt icon nav-icon"></i>
        <p>Nearby</p>
    <% end %>
    </li>
    <li class="list-inline-item text-center nav-buttons">
      <%= link_to new_review_path do %>
        <i class="fas fa-plus-circle icon nav-icon"></i>
        <p>Review</p>
    <% end %>
    </li>
    <li class="list-inline-item text-center nav-buttons">
      <%= link_to activity_path do %>
        <i class="far fa-heart icon nav-icon"></i>
        <p>Activity</p>
    <% end %>
    </li>
    <li class="list-inline-item text-center nav-buttons">
      <% if current_user.nil? %>
      <%= link_to new_review_path do %>
          <i class="far fa-user icon nav-icon"></i>
          <p>Me</p>
      <% end %>
    <% else %>
      <%= link_to profile_path do %>
          <i class="far fa-user icon nav-icon"></i>
          <p>Me</p>
      <% end %>
    <% end %>
    </li>
  </ul>
</div>
