<h1>Search results</h1>
<ul class="tabs" role="tablist">
    <li>
        <input type="radio" name="tabs" id="tab1" checked />
        <label for="tab1"
               role="tab"
               aria-selected="true"
               aria-controls="panel1"
               tabindex="0">Reviews</label>
        <div id="tab-content1"
             class="tab-content"
             role="tabpanel"
             aria-labelledby="description"
             aria-hidden="false">
      <!--Reviews results -->
      <h2>Reviews corresponding to search</h2>
          <% if @reviews.length == Review.all.length %>
            <h3>Your search did not correspond to any reviews. All reviews:</h3>
          <% end %>
          <% @reviews.each do |review| %>
            <%= render "shared/review", review: review %>
            <p>-----------------------------------------------------------</p>
          <% end %>
      </div>
    </li>

     <li>
        <input type="radio" name="tabs" id="tab2" />
        <label for="tab2"
               role="tab"
               aria-selected="false"
               aria-controls="panel2"
               tabindex="0">Providers</label>
        <div id="tab-content2"
             class="tab-content"
             role="tabpanel"
             aria-labelledby="specification"
             aria-hidden="true">
          <!--Providers results -->
          <h2>Providers corresponding to search</h2>
          <% if @providers.length == Provider.all.length %>
            <h3>Your search did not correspond to any provider. All providers:</h3>
          <% end %>
            <% @providers.each do |provider| %>
              <p>Name: <%= link_to provider.name, provider %></p>
              <p>Translated name: <%= provider.translated_name %></p>
              <p>Description: <%= provider.description %></p>
              <p>Tags: <% provider.provider_tags.each do |t| %>
                  <%= t.tag.name %>
                <% end %>
              </p>
              <p>Categories: <% provider.provider_categories.each do |c| %>
                  <%= c.category.name %>
              <% end %>
              </p>
              <p>Rating: <%= provider.avg_rating %></p>
              <p>Price: <%= provider.price %></p>
              <p>Address: <%= provider.street_address %></p>
              <p>District: <%= provider.district %></p>
              <p>City: <%= provider.city %></p>
              <p>Country: <%= provider.country %></p>
              <p>Hours: <%= provider.open_hours %></p>
              <p>Phone: <%= provider.phone_number %></p>
              <p>Website: <%= provider.website %></p>
              <p><%= link_to "Review provider", new_provider_review_path(provider) %></p>
              <% if current_user.favourited_providers.include?(provider) %>
                <p><%= link_to 'Unfavourite this provider', favourite_path(provider), method: :delete %></p>
              <% else %>
                <p><%= link_to 'Favourite this provider', provider_favourites_path(provider), method: :post %></p>
              <% end %>
              <p>Photos: </p>
              <div class="photos row">
                <% provider.photos.each do |photo| %>
                  <%= cl_image_tag(photo.photo, width: 300, height: 300, crop: :fill) %>
                <% end %>
              </div>
              <p>---------------------------------------------</p>
          <% end %>
         </div>
    </li>
</ul>


<br style="clear: both;" />

<p class="link">See the <a href="https://codepen.io/wallaceerick/pen/IGxim">3D Box</a> demo!</p>

</ul>
