<div class="big-review d-flex flex-column">
  <div class="d-flex m-0 p-0">
    <%= cl_image_tag(review.user.avatar, class: "avatar-medium mt-3 mx-3") %>
    <div class="p-0 mt-3 ml-1 flex-grow-1">
      <p class="m-0 p-0 font-weight-bold"><%= review.user.username %></p>
      <p class="m-0 p-0 small" style="display: -webkit-box; width: 50vw">Review for <%= link_to review.provider.name, provider_path(review.provider) %></p>
    </div>
    <div class="review-star mt-3 mr-3">
      <ul class="list-inline">
        <% review.rating.times do %>
          <li class="list-inline-item p-0 m-0"><i class="fas fa-star"></i></li>
        <% end %>
      </ul>
    </div>
  </div>

  <% review.review_photos.each do |photo| %>
   <% if photo.photo_url.resource_type == "video" %>
      <div class="big-review-card-video mt-3 mw-100">
        <%= cl_video_tag(photo.photo_url.file.public_id,
                  :loop => true, :controls => true, :autoplay => true,
                  :transformation => [width: 430, height: 500, crop: :fill, gravity: :center],
                  :fallback_content => "Your browser does not support HTML5 video tags." ) %>
      </div>
    <% else %>
    <div class="big-review-card-video border mt-3 mw-100">
      <%= cl_image_tag(photo.photo_url, width: 430, height: 500, gravity: :center, crop: :fill) %>
      </div>
    <% end %>
  <% end %>

  <div class="utility d-flex flex-row justify-content-between">
    <div class="hot ml-3 mt-3">
      <% if user_signed_in? %>
        <% if current_user.likes.find_by(review: review).nil? %>
          <%= link_to review_likes_path(review),method: :post do %>
             <i class="fab fa-hotjar mr-2"></i>
              <% if @review.likes.size == 0 %>
                Be the first to like this
              <% else %>
                Liked by <%= pluralize(review.likes.size, "person") %>
              <% end %>
          <% end %>
        <% else %>
          <%= link_to like_path(review), method: :delete do %>
            <i class="fab fa-hotjar mr-2 active"></i>Liked by <%= pluralize(review.likes.size, "person") %>
          <% end %>
        <% end %>
      <% else %>
        <%= link_to new_user_session_path do %>
          <i class="fab fa-hotjar mr-2"></i>
              <% if @review.likes.size == 0 %>
                Be the first to like this
              <% else %>
                Liked by <%= pluralize(review.likes.size, "person") %>
              <% end %>
        <% end %>
      <% end %>
    </div>
    <% if policy(review).update? %>
      <div class="edit-ja mt-3 mr-3">
        <ul class="list-inline">
          <%= link_to edit_review_path(review) do %>
            <li class="list-inline-item"><i class="far fa-edit"></i></li>
          <% end %>
          <%= link_to review_path(review), method: :delete do %>
            <li class="list-inline-item ml-2"><i class="far fa-trash-alt"></i></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>

  <div class="ml-3 mt-2 mb-3 big-review-card-content">
    <p class="m-0 p-0"><%= review.content %></p>
    <p class="m-0 p-0 small"><%= review.created_at.strftime("%b %e, %l:%M %p") %></p>
  </div>

</div>


