<h1>All Reviews</h1>
<% if @reviews.empty? %>
  <p>No reviews to show yet</p>
<% else %>
  <% @reviews.each do |review| %>
    <p>
    <% review.review_photos.each do |p| %>
      <% if p.photo_url.resource_type == "video" %>
        <%= cl_video_tag(p.photo_url.file.public_id,
            :loop => true, :controls => true, :autoplay => true,
            :transformation => [
              :height=>640, :crop=>"pad"],
            :fallback_content => "Your browser does not support HTML5 video tags." ) %>
      <% else %>
        <%= cl_image_tag(p.photo_url, width: 300, height: 300, crop: :fill) %>
      <% end %>
    <% end %>
  </p>
    <p><%= review.title %></p>
    <p><%= review.content %></p>
    <p><%= review.rating %></p>
    <p><%= review.user.first_name %></p>
    <p><%= review.provider.name unless review.provider.nil? %></p>
    <p><%= review.service.name unless review.service.nil? %></p>
    <p>-----------------------------------------------------------</p>
  <% end %>
<% end %>
