<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= content_for?(:title) ? yield(:title) : "Go Jalan ... Get a life!" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "The coolest way for you to get a life!" %>">
    <%= favicon_link_tag asset_url('favicon.png') %>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_pack_tag 'application', media: 'all' %>
  </head>
  <body>
      <%= render 'shared/flashes' %>
      <%= yield %>
      <br><br><br><br><br><br>
       <%= render "reviews/new_review" %>
      <%= render "shared/nav" %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
